.expense-item {
    padding: 20px;
    margin: 10px auto;
    background-color: grey;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 10px;
}

.expense-item__row {
    display: flex;
    align-items: center;
}

.expense-item__amount {
    background-color: #40005d;
    padding: 10px;
    border-radius: 10px;
    border: 1px #fff solid;
}

.expense-item__action button {
    cursor: pointer;
    margin-left: 10px;
    height: 30px;
    background-color: red;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}