.expense-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    border-radius: 12px;
    background-color: #2a2a2a;
    color: white;
    margin-right: 15px;
}

.expense-date__day {
    font-size: 25px;
}

.expense-date__month,
.expense-date__year {
    font-size: 14px;
}