.expense-form {
    background-color: #000;
    color: #fff;
    padding: 1rem 3rem;
    margin: 50px auto;
    text-align: center;
}

.expense-form__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.expense-form__control {
    margin-bottom: 1rem;
}

.expense-form__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.expense-form__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.expense-form__actions {
    text-align: right;
}

.expense-form__actions button {
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    font-size: inherit;
    font-weight: bold;
}
